.footer__container {
  margin-top: 40px;
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  background: #000;
}

.footer__inner {
  @media screen and (min-width: $ui-breakpoint-xl-min) {
    max-width: 684px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.footer__title {
  padding-top: 38px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #FEFEFE;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}

.footer__text {
  color: #B9B9B9;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    font-size: 12px;
  }
}

.footer__text span {
  @media screen and (max-width: $ui-breakpoint-md) {
    display: none;
  }
}

.footer__icons {
  padding-top: 26px;
  margin-bottom: 25px;
}

.footer__icons img {
    padding-right: 6px;
  }

.contacts {
  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: flex;
    justify-content: space-around;

  }
}

.contacts__address,
.contacts__tel,
.contacts__email {
  text-decoration: none;
  color: #B9B9B9;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  @media screen and (min-width: $ui-breakpoint-md-min) {

    font-size: 16px;
    line-height: 26px;
  }
}

.contacts__email {
  margin-bottom: 47px;
}
