.header {
  @media screen and (max-width: $ui-breakpoint-sm-min) {
    width: 100%;
  }
}

.header__content {
  margin-top: 25px;
  margin-bottom: 25px;
}

.nav {
  display: flex;
  justify-content: flex-end;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    @include ui-flex;
    flex-direction: row;
  }
}

.menu__btn {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 1px;
  background-color: black;
  border: none;
  &::after{
    content: "";
  }

  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: none;
  }
}

.menu__btn span {
  width: 15px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: 0.5ms;
}

  .menu__btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }

  .menu__btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }

.menu {
  position: fixed;
  right: 25px;
  min-width: 182px;
  height: 197px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  background-color: #F5F5F5;
  z-index: 2;
  transform: translateX(120%);

  @media screen and (min-width: $ui-breakpoint-md-min) {
    transform: none;
    z-index: 0;
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 28px;
    min-width: max-content;
    height: auto;
    background-color: transparent;
}
}

.menu.active {
  transform: translate(6px, 30px);
}

.menu__item {
  list-style-type: none;
  text-transform: uppercase;
  margin-left: 13px;
  font-size: 11px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1.1px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    margin-left: 0;
    padding-right: 20px;
  }
  @media screen and (min-width: $ui-breakpoint-xl-min) {
    padding-right: 60px;
  }
}


.menu__item:last-child {
      @media screen and (min-width: $ui-breakpoint-md-min) {
        padding-right: 0px;
      }
}






  .menu__item--link {
    text-decoration: none;
    color: black;

    &:hover {
      color: #57A4A4;
    }
  }

  .menu__btn.active span:first-of-type {
    opacity: 0;
  }

  .menu__btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

.menu__btn.active span:nth-of-type(3) {
    top: (50%);
    transform: translate(-50%, -50%) rotate(-45deg);
  }

.header__img {
  width: 100%;
  min-height: 100%;
  margin-bottom: 40px;
}
