.resent-posts {
  min-width: 232px;
}

.resent-posts--title {
  color: #4E4E4E;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    font-size: 16px;
  }
}

.resent-posts__list {
  margin-top: 23px;
  margin-bottom: 78px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    margin-top: 0px;
    margin-bottom: 69px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 15px;
  }
}

.resent-posts__list-item {
  margin-top: 28px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: flex;
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    margin-top: 0;
  }
}

.resent-posts__list-item--add,
.item__text,
.instagram-shot--subtitle,
.shot--img--second,
.shot--img--third {
  @media screen and (max-width: $ui-breakpoint-md) {
    display: none;
  }
}

.item__container {
  @media screen and (min-width: $ui-breakpoint-md-min) {
    margin-left: 20px;
  }
}

.item--subtitle {
  color: #4E4E4E;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    font-size: 16px;
  }
}

.item--desc {
  color: #7C7C7C;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    font-size: 12px;
    padding-bottom: 13px;
  }
}

.item__text {
  @media screen and (min-width: $ui-breakpoint-md-min) {
    color: #5C5C5C;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
}

.instagram-shot {
  margin-bottom: 42px;
}


.instagram-shot--title,
.instagram-shot--subtitle {
  color: #4E4E4E;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 13px;
  line-height: 22px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    padding-bottom: 35px;
    padding-top: 47px;
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    padding-bottom: 24px;
  }

}

.instagram-shot__inner {
  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: flex;
    justify-content: space-between;

  }
}

.instagram-shot--subtitle{
  @media screen and (min-width: $ui-breakpoint-md-min) {
    font-size: 13px;
  }
}

.shot__container {

  @media screen and (min-width: $ui-breakpoint-md-min) {
    background: #F5F5F5;
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    background: #F5F5F5;

  }
}

.shot--img--fourth {
  display: none;
  @media screen and (min-width: $ui-breakpoint-xl-min) {
    display: block;
  }
}

.page__img {
  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 10px;
    padding-bottom: 50px;
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 10px;
    padding-bottom: 50px;
  }
}

.shot__img {
  width: 100%;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    width: 100%;
  }
  @media screen and (min-width: $ui-breakpoint-xl-min) {
    width: 100%;
  }
}