.resent-posts {
  min-width: 232px;
}

.resent-posts--title {
  color: #4E4E4E;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}

.resent-posts__list {
  margin-top: 23px;
  margin-bottom: 78px;
}

.resent-posts__list-item {
  margin-top: 28px;
}

.item--subtitle {
  color: #4E4E4E;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}

.item--desc {
  color: #7C7C7C;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
}

.instagram-shot {
  margin-bottom: 42px;
}


.instagram-shot--title {
  color: #4E4E4E;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 13px;
}

.shot--img {
  width: 100%;
}
