.resent-posts {
  min-width: 232px;
}

.resent-posts--title {
  color: #4E4E4E;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    font-size: 16px;
  }
}

.resent-posts__list {
  margin-top: 23px;
  margin-bottom: 78px;
}

.resent-posts__list-item {
  margin-top: 28px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: flex;
  }
}

.resent-posts__list-item--add,
.item__text {
  @media screen and (max-width: $ui-breakpoint-md) {
    display: none;
  }
}

.item__container {
  @media screen and (min-width: $ui-breakpoint-md-min) {
    margin-left: 20px;
  }
}

.item--subtitle {
  color: #4E4E4E;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    font-size: 16px;
  }
}

.item--desc {
  color: #7C7C7C;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    font-size: 12px;
    padding-bottom: 13px;
  }
}

.item__text {
  @media screen and (min-width: $ui-breakpoint-md-min) {
    color: #5C5C5C;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
}

.instagram-shot {
  margin-bottom: 42px;
}


.instagram-shot--title {
  color: #4E4E4E;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 13px;
}

.shot--img {
  width: 100%;
}

